<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fkeo2021.mytoilet">
    <!-- 인터넷쓰게해줘 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 내 위치 퍼미션 GPS로 찾아오기 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 내 위치 퍼미션 네트워크로 찾아오기 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mytoilet"
        android:usesCleartextTraffic="true">
        <activity android:name=".EmailSigninActivity"></activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashThema">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PlaceUrlActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao1a784411cafeed2fc84728c0a9dc747e" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDl2u5EMY-r08p1RN3CUBmw6ifMKjnucY" />
    </application>

</manifest>